* {
    margin: 0;
    padding: 0;
}
.dvs {
    background-image: url(/img/place_your_image_here_\(double_click_to_edit\)_2422.png);
   
    font-family: 'Montserrat', sans-serif;
}
footer img {
    margin: 80px 0px 0 70px;
}
.ready {
    font-size: 65.2px;
    font-weight: 400;
    color: #063f4c;
    margin: 238px 0 0 97px;
}
.travel {
    font-size: 298.4px;
    line-height: 227px;
    font-weight: 700;
    color: #06404d;
    margin: 30px 0 44px 95px;
}
.islnd {
    margin-left: 550px;
    margin-top: 37px;
    margin-bottom: 101px;
    font-size: 298.4px;
    line-height: 227px;
    font-weight: 700;
    color: #fdfefe;
}
.limited {
    width: 600px;
    height: 152px;
    background-color: #07404d;
    border-radius: 0 20px 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-align: left;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}
.limited::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #bfc92d;
    border-radius: 0 20px 20px 0;
    transition: 0.5s;
    position: absolute;
    top:0;
    right: -100%;
    z-index: -1;
    
}
.limited::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #2dacc9;
    border-radius: 0 20px 20px 0;
    transition: 0.5s;
    position: absolute;
    top:100%;
    right: 0;
    transition-delay: 0.3s;
    z-index: -1;
}
.limited:hover::before {
    right: 0%;
}
.limited:hover::after {
    top: 0%;
}
.limited p {
   margin: 20px 0 20px 100px
   
}
.tour h3 {
    margin: 201px 0 67px 98px;
    color:#ffffff;
    font-family: 'Monstserrat', sans-serif;
    font-size: 53.5px;
    line-height: 38px;
    font-weight: 400;
}
.tour p {
    opacity: 0.7;
    font-family: 'Monstserrat', sans-serif;
    font-size: 29.7px;
    line-height: 47px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 100px;
}
.contacts h3 {
    font-family: 'Monstserrat', sans-serif;
    font-size: 43px;
    line-height: 31px;
    font-weight: 400;
    color: #ffffff;
    margin: 127px 0 0px 100px;
}
.contacts a {
    opacity: 0.7;
    font-family: 'Monstserrat', sans-serif;
    font-size: 32.1px;
    line-height: 71px;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: #fefefe;
    margin: 27px 0px 70px 100px;
    text-decoration: none;
}
.contacts a:hover {
   background: #07404d;
}